@font-face{
  font-family: 'Avenir';
  src :url('./assets/font/Avenir-Black.ttf');
  font-family: 'Product-sans';
  src :url('./assets/font/ProductSans-Regular_7a2a56c145b5d37f87bcdb656af0ddea.ttf')
}

body {
  background-color: #E5E5E5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
