.myraisefund .map{
    margin-top: 142px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.myraisefund .raise{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.myraisefund .raise label{
    margin-top:  100px;
    margin-left: 197px;
    font-family: Product-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
}
.myraisefund .raise button{
    width: 140px;
    height: 35px;
    margin-top: 100px;
    color:white;
    font-family: Product-sans;
    background: #C32424;
    border-radius: 10px;
    margin-right: 160px;
}
