.profile-left h1{
    position: absolute;
    width: 165px;
    height: 44px;
    left: 197px;
    top: 164px;
    
    font-family: Product-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
}
.profile-left img{
    position: absolute;
    width: 180px;
    height: 221.79px;
    left: 196px;
    top: 238px;
    background-blend-mode: normal;
}
.profile-left label{
    position: absolute;
    width: 81px;
    height: 22px;
    left: 404px;
    top: 238px;
    
    font-family: Product-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #C32424;
}.profile-left p{
    position: absolute;
    width: 168px;
    height: 22px;
    left: 403px;
    top: 266px;
    
    font-family: Product-sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #616161;
}
.profile-right h1{
    position: absolute;
    width: 280px;
    height: 44px;
    left: 825px;
    top: 164px;
    
    font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    
    
    color: #000000;
}
.profile-right{
    position:absolute;
}
.profile-right div{
    margin-top: 200px;
    margin-left: 400px;
    display:flex;
    flex-direction: column;
}
.profile-card{
  margin-top: 20px !important;
   width: 419px;
    height: 101px;
    background: #FFFFFF;
    padding-left: 15px;
    padding-top: 15px;
}
.profile-card h4{
    font-family: Product-sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
.profile-card p{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 9px;
    line-height: 12px;
    display: flex;
    align-items: center;
    
    color: #000000;
}
.profile-card label{
    font-family: Avenir;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 14px;
    /* identical to box height */
    
    
    color: #974A4A;
}
.profile-card h5{
    width: 112px;
    margin-top: -10px;
    margin-left: 250px !important;
    border-radius: 2px;
    background: rgba(0, 255, 133, 1);
    color:rgb(0, 201, 0);
    font-family: Avenir;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
}

